body{
    margin: 0;
}
header{
    background: white;
    padding: 20px;
}
header h1{
    margin:0;
}
div.post{
    background: white;
    margin-top:10px;
}
div.post img{
    width: 100%;
}
div.post-header{
    display: flex;
    align-items: center;
    padding: 5px;
}
div.container{
    width: 600px;
}
div.date{
    display: flex; 
    margin-left:auto;
    padding-right:20px;
    color:black;
}

.gridTest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    grid-template-row: repeat(3, 1fr);
    border: 2px solid red;
}
div.col{
        float: left;
        width: 33.33%;
        padding: 5px;
    }
      
.row::after {
        content: "";
        clear: both;
        display: table;
}