body{
    background-color: grey;
    margin: 0;
}
/* div{
   box-sizing: border-box; 
} */
header{
    background: white;
    padding: 10px;
}
header h1{
    margin:0;
}
div.post{
    background: white;
    margin-top:10px;
}
div.post img{
    width: 100%;
}
div.post .post-header div:first-child{
display: inline-block;
width:80%;
}
div.post .post-header div:last-child{
    display: inline-block;
    width:20%;
    padding:10px;
    text-align: right;
    color:grey;
    }
div.post h2, div.post p{
    padding: 10px;
    margin:0;
}
div.container{
    width: 600px;
}



.gridTest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    grid-template-row: repeat(3, 1fr);
}
div.col{
        float: left;
        width: 33.33%;
        padding: 5px;
    }
      
.row::after {
        content: "";
        clear: both;
        display: table;
}